.modal-container__window {
  background-color: white;
  z-index: 2;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 100%;
  grid-area: window;
}

@media screen and (max-width: 650px) {
  .modal-container__window {
    width: auto;
  }
}
